body, html, #app-body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.whiteboard {
  width: 75%;
  height: 97%;
  border: 1px solid #000000;
  margin: 15px 0 15px 15px;
  display: inline-block;
  cursor: crosshair;
}

.whiteboard-controls {
  background-color: #efefef;
  width: 20%;
  height: 100%;
  display: inline-block;
  float: right;
  padding: 20px;
}

.whiteboard-controls h2 {
  text-align: center;
}

.whiteboard-setting {
  margin: 10px 0;
  text-align: center;
}

.whiteboard-setting input[type='text'], .whiteboard-setting input[type='number']{
  float: right;
}

.whiteboard-setting button.half-button{
  width: 49%;
}