<whiteboard class="whiteboard" line-width="lineWidth" line-color="lineColor" ></whiteboard>

<div class="whiteboard-controls">
  <h2>Whiteboard Controls</h2>

  <div class="whiteboard-setting">
    <span class="setting-label">Line Width:</span>
    <input type="number" ng-model="lineWidth">
  </div>

  <div class="whiteboard-setting">
    <span class="setting-label">Line Color:</span>
    <input type="text" ng-model="lineColor">
  </div>

  <div class="whiteboard-setting">
    <button ng-click="clearBoard()">Clear Board</button>
  </div>

</div>
