<whiteboard class="whiteboard" line-width="lineWidth" line-color="lineColor" paint-mode="paintMode" move-mode="moveMode"></whiteboard>

<div class="whiteboard-controls">
  <h2>Whiteboard Controls</h2>

  <div class="whiteboard-setting">
    <span class="setting-label">Line Width:</span>
    <input type="number" ng-model="lineWidth">
  </div>

  <div class="whiteboard-setting">
    <span class="setting-label">Line Color:</span>
    <input type="text" ng-model="lineColor">
  </div>

  <div class="whiteboard-setting">
    <span class="setting-label">Add Image to Whiteboard</span>
    <input type="file" ng-model="imageFile" ng-file-select="addImage($files)">
  </div>

  <div class="whiteboard-setting">
    <button class="half-button" ng-click="togglePaintMode()" ng-disabled="paintMode">
      Paint
    </button>
    <button class="half-button" ng-click="toggleMoveMode()" ng-disabled="moveMode">
      Move
    </button>
  </div>

  <div class="whiteboard-setting">
    <button ng-click="clearBoard()" class="center">Clear Board</button>
  </div>

</div>
